* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}
			
body{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: #000;
  	font-weight: 300;
  	text-align: center;
  	background-color: #fff;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  padding: 10px;
  font-size: 14px;
  background-color: #444;
  color: #fff;
}
.quiz-container {
	padding-bottom: 40px;
}
a {
  color: #fff;
}

/* responsive image - media queries */
.logo {
  max-width: 15%;
  position: fixed;
  bottom: 30px;
  left: 0;
  }


header h1{
  font-weight: 300;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    header {
    font-size: 14px;
  }
}

.banner {
	font-size: 16px;
  	display: flex;
  	flex-direction: row;
	justify-content: space-around;
}

.message{
  font-weight: bold;
}
.message > h2{;
  color: #444;
  font-size: 60px;
}
.message > h3{;
  color: blue;
  font-size: 40px;
}
span.message {
	padding-left: 20px;
	}
.explanation {
	font-size: 16px;
  background-color: lightyellow;
  margin-top: 20px;
  padding: 10px;
}
.explanation:empty {
    display:none;
}

fieldset {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

fieldset {
  font-weight: bold;
  color: #444;
  margin-top: 40px;
}
.answers label {
	display: flex;
  	color: #000;
  	padding: 10px;
}
.answers label:hover {
  	background-color: lightcyan;
}


/* ul */
.answers {
  list-style: none;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.answers li {
  	text-align: left;
  	margin-top: 20px;
}

.answers input[type="radio"] {
  	margin-right: 20px;
}


.warning {
	font-variant: small-caps;
	margin-left: 20px;
}
.correct-answer {
	color: #008000;
}
.correct-answer::after {
	content: 'Correct Answer';
}
.user-answer {
	color: blue;
}
.user-answer::after {
	content: 'Your Answer';
}
button {
 	font-family: 'Roboto', sans-serif;
	background-color: goldenrod;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin: 20px auto; 
}
button:hover{
	background-color: gold;
}